

/*navbar styling*/
.topnav{
    background-color: #7F56D9;
    height:80px;
    overflow: hidden;
}
.topnav a {
    float:left;
  color:#F9F5FF;
  display: block;
  text-align: center;
  padding: 24px 24px;
  text-decoration: none;
  font-size: x-large;
}

.button {
    background-color: #7F56D9;
     height:60px;
     width: 230px;
     border-color:#F9F5FF;
     border-radius: 20px;
     color:#F9F5FF;
     font-size: x-large;
}